.marginRow {
  margin: 15px 5px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonWidth {
  min-width: 90px;
}

.iconSize {
  width: 20px;
  height: 20px;
}

.totalTodoAndcreateBtnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(255, 0, 0, 0.207); */
}

.totalTodoAndcreateBtnDiv .badgeBtn {
  cursor: text !important;
}

.totalTodoAndcreateBtnDiv .badgeBtn:hover {
  background-color: #ffc107;
}

.totalTodoAndcreateBtnDiv span {
  font-weight: 700;
  margin-left: 5px;
}

.loaderSpinner {
  margin: 7rem 0;
}

.errorDiv {
  /* background-color: blueviolet; */
  width: 650px;
  margin: -10px auto !important;
  /* border: 1px solid black; */
  /* border-radius: 9px; */
  /* padding: 7px; */
  word-wrap: break-word;
  text-align: right;
}

.errorText {
  /* width: 100%; */
  /* width:fit-content; */
  /* max-width: 650px; */
  max-width: fit-content;
  margin: 9px 0px;
  line-height: 1;
  border: 1px solid red;
  color: red;
  border-radius: 9px;
  padding: 7px;
}

/* .lineThrough {
  text-decoration: line-through;
} */
